*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1215px;
  margin: 0 auto;
  outline: 2px solid red;
}
header {
  background: linear-gradient(#e68282e1, #efd089d7), url(./img/eagle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
}
.logo {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}

.menu-list {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 55px;
}
.menu-title {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}
.text-under-line {
  outline: 2px solid #fce38a;
  width: 50px;
  display: none;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-title:hover {
  color: #fce38a;
}
.main-text {
  width: 830px;
  margin: 0 auto;
  padding-top: 170px;
  /* display: flex;
  flex-direction: column;
  text-align: center; */
}
.template-text {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  color: #ffffff;
  text-align: center;
}
.welcome-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150px;
  text-align: center;
  color: #ffffff;
  padding-top: 25px;
}
.line {
  outline: 2px solid white;
  width: 60px;
  margin: 0 auto;
  margin-top: 60px;
}
.main-button {
  background: none;
  border: none;
  outline: 2px solid #ffffff;
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin-left: 337px;
  margin-top: 50px;
  cursor: pointer;
}
.step {
  cursor: pointer;
}
.steps {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-top: 130px;
}
.step-line {
  width: 280px;
  height: 2px;
  background: #e2e2e2;
  margin: 0 auto 10px auto;
}

.step-text {
  color: #e2e2e2;
  font-weight: 700;
  font-size: 16px;
  transition: color 0.3s;
}

.step span {
  font-weight: bold;
}

.step:hover .step-line {
  background: #e47676;
}
.step:hover .step-text {
  color: white;
}
.what-we-do-text {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333333;
  text-align: center;
  padding-top: 90px;
}
.abt-us-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #333333;
  padding-top: 20px;
}
.what-we-do-line {
  width: 60px;
  outline: 2px solid #e47676;
  margin-left: 580px;
  margin-top: 40px;
}
.what-we-do-parahraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999999;
  /* width: 950px; */
  text-align: center;
  padding-top: 48px;
}
.what-we-do-pics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 110px;
}
.numbers-section {
  background-color: #95e1d3;
  height: 270px;
  margin-top: 110px;
}
.number-title {
  font-size: 72px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}
.abt-num-paragraph {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
  padding-top: 30px;
}
.numbers-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers-list {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 75px;
}
.icons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
  padding-top: 65px;
}
.icons-img {
  padding-right: 30px;
  height: 30px;
}
.icons-item {
  display: flex;
}
.icons-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 270px;
  padding-top: 15px;
  color: #999999;
}
.icons-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.for-all-devices {
  background: linear-gradient(#ffffffda, #ffffffda), url(./img/White.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 850px;
  margin-top: 120px;
}
.gadgets {
  width: 600px;
  margin: 0 auto;
  padding-top: 48px;
}
.phone {
  position: absolute;
  margin-left: -100px;
  margin-top: 200px;
}
.cards{
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 60px;
}
.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid #d1d1d1;
  padding: 15px 15px;
  margin-bottom: 10px;
  width: 600px;
  background: none;
  border: none;
  cursor: pointer;
}
.tab-title{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  margin-left: -385px;
}


