*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1215px;
  margin: 0 auto;
  outline: 2px solid red;
}
header {
  background: linear-gradient(#e68282e1, #efd089d7), url(./img/eagle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
}
.logo {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}

.menu-list {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 55px;
}
.menu-title {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}
.text-under-line {
  outline: 2px solid #fce38a;
  width: 50px;
  display: none;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-title:hover {
  color: #fce38a;
}
.main-text {
  width: 830px;
  margin: 0 auto;
  padding-top: 170px;
}
.template-text {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  color: #ffffff;
  text-align: center;
}
.welcome-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150px;
  text-align: center;
  color: #ffffff;
  padding-top: 25px;
}
.line {
  outline: 2px solid white;
  width: 60px;
  margin: 0 auto;
  margin-top: 60px;
}
.main-button {
  background: none;
  border: none;
  outline: 2px solid #ffffff;
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin-left: 337px;
  margin-top: 50px;
  cursor: pointer;
}
.step {
  cursor: pointer;
}
.steps {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-top: 130px;
}
.step-line {
  width: 280px;
  height: 2px;
  background: #e2e2e2;
  margin: 0 auto 10px auto;
}

.step-text {
  color: #e2e2e2;
  font-weight: 700;
  font-size: 16px;
  transition: color 0.3s;
}

.step span {
  font-weight: bold;
}

.step:hover .step-line {
  background: #e47676;
}
.step:hover .step-text {
  color: white;
}
.what-we-do-text {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333333;
  text-align: center;
  padding-top: 90px;
}
.abt-us-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #333333;
  padding-top: 20px;
}
.what-we-do-line {
  width: 60px;
  outline: 2px solid #e47676;
  margin-left: 580px;
  margin-top: 40px;
}
.what-we-do-parahraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999999;
  /* width: 950px; */
  text-align: center;
  padding-top: 48px;
}
.what-we-do-pics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 110px;
}
.numbers-section {
  background-color: #95e1d3;
  height: 270px;
  margin-top: 110px;
}
.number-title {
  font-size: 72px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}
.abt-num-paragraph {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
  padding-top: 30px;
}
.numbers-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers-list {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 75px;
}
.icons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
  padding-top: 65px;
}
.icons-img {
  padding-right: 30px;
  height: 30px;
}
.icons-item {
  display: flex;
}
.icons-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 270px;
  padding-top: 15px;
  color: #999999;
}
.icons-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.for-all-devices {
  background: linear-gradient(#ffffffda, #ffffffda), url(./img/White.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 850px;
  margin-top: 120px;
}
.gadgets {
  width: 600px;
  margin: 0 auto;
  padding-top: 48px;
}
.phone {
  position: absolute;
  margin-left: -100px;
  margin-top: 200px;
}
.cards {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 60px;
}
.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid #d1d1d1;
  padding: 15px 15px;
  margin-bottom: 10px;
  width: 600px;
  background: none;
  border: none;
  cursor: pointer;
}
.tab-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  margin-left: -385px;
}
.feedback-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  width: 760px;
  font-size: 24px;
}
.line-next-to-name {
  width: 60px;
  outline: 2px solid #e47676;
}
.name {
  font-family: "Kaushan Script", cursive;
  color: #333333;
  font-size: 24px;
}
.feedback-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedback-section {
  background-color: #f8f8f8;
  margin-top: 120px;
  height: 290px;
  display: flex;
  justify-content: center;
}
.name-div {
  display: flex;
  align-items: center;
}
.who-we-are-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-align: center;
  padding-top: 30px;
}
.who-we-are-parahraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  color: #999999;
  text-align: center;
  padding-top: 15px;
}
.who-we-are-pics {
  display: flex;
  justify-content: space-between;
  padding-top: 95px;
}
.brands {
  height: 250px;
  background-color: #b9b9b9;
  margin-top: 120px;
}
.some-of-our-work-pics {
  display: flex;
  padding-top: 105px;
}
.grid-div {
  display: grid;
  grid-template-columns: repeat(2, 0.2fr);
}
.second-grid {
  display: grid;
  grid-template-columns: repeat(2, 0.2fr);
}
.works-img1 {
  grid-row: 1 / span 2;
  width: 411px;
}
.works-img2 {
  grid-row: 1;
}
.works-img3 {
  grid-row: 2;
}
.works-img,
.works-img2,
.works-img3 {
  width: 416px;
  margin-bottom: -7px;
}
.feedback {
  height: 440px;
  display: flex;
  justify-content: center;
}
.happy-clients-section {
  background: linear-gradient(#ffffffda, #ffffffda), url(./img/mountain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 830px;
}
.name-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.speciality {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  color: #333333;
  padding-top: 15px;
}
.peoples-feedbacks-line {
  width: 60px;
  outline: 2px solid #e47676;
  margin-top: 18px;
}
.peoples-feedbacks-paragraph {
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-size: 15px;
  width: 355px;
  padding-top: 25px;
}
.peoples-feedbacks-photos {
  padding-right: 30px;
  height: 110px;
}
.peoples-feedbacks {
  width: 1110px;
  margin: 0 auto;
  padding-top: 90px;
}
.peoples-feedbacks-item {
  display: flex;
}
.peoples-feedbacks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
}
.date-div {
  height: 70px;
  width: 60px;
  background-color: #95e1d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -85px;
  margin-left: -10px;
}
.date-div-nubmer {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.date-div-month {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
}
.posts-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  padding-top: 20px;
}
.posts-paragraph {
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-size: 15px;
  width: 350px;
  padding-top: 20px;
}
.post-line {
  outline: 1px solid #999999;
  width: 380px;
  margin-top: 20px;
}
.views-and-comments {
  display: flex;
  padding-top: 20px;
}
.views-and-comments-number {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.posts-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.posts-item {
  cursor: pointer;
}
.map {
  background-image: url(./img/Map.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  margin-top: 115px;
}
.map-div {
  padding-top: 57px;
  cursor: pointer;
}
.pic-div {
  width: 20px;
  margin: 0 auto;
}
.map-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #e47676;
  text-align: center;
}
.map-line {
  width: 60px;
  outline: 2px solid #e47676;
  margin-left: 580px;
  margin-top: 22px;
}
